@import url('https://fonts.googleapis.com/css2?family=Margarine&family=Pompiere&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Pompiere', cursive;
}


body {
   background-color: #FFE9B8;
   width: 100%;
   height: 100%;
   margin: 2em auto;
}

.r-title h3{
    font-size: 6rem;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.r-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;          
}
.r-line .r-line__left, .r-line .r-line__rigth {
        width: 48%;
        border: 5px solid #000;
}

div.r-line .r-line__left {
margin-left: 0rem;
}

img.r-line__img {
    width: 50px;
    height: 50px;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
   
}

.r-item {
    position: relative;
    display: flex;
    
    width: 30rem;
    height: 30rem;
    margin-left: 5rem;
}
.r-menu-item__info {
    position: absolute;
    left: 200px;
    bottom: 360px;
}
header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #000;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 0.5px;
}
header h4.price {
    color: green;
}
.r-item img.photo{
    width: 12rem;
    right: 12rem;
    border: 5px solid yellow;
    border-radius: 10px;
    
}
p.r-menu-item__text {
    font-size: 18px;
    text-align: justify;
    align-items: center;
    top: 3px;
    padding: 0.3px;
}