@import url('https://fonts.googleapis.com/css2?family=Margarine&family=Pompiere&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

:root{
    /*Font*/

    --ff-primary: "Pompiere", sans-serif;
    --ff-secundary:"Roboto", sans-serif;

    /*color*/

    
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-white: #fff;
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-yellow-dark: yellow;
    --clr-gold: #f5e2b9;
    --clr-black: #222;

    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 1rem;
}
       
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-family: var(--ff-primary);
}


body {
   background-color: var(--clr-gold);
   color: var(--clr-dark);
   width: 100%;
   height: 100%;
   line-height: 1.5rem; 
}

section.r-menu{
    margin-top: 0;
    padding: 2rem 5rem 5rem 5rem;
}

.r-title h3{
    font-size: 3.5rem;
    align-items: center;
    text-align: center;
    letter-spacing: var(--spacing);
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

.r-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;          
}
.r-line .r-line__left, .r-line .r-line__rigth {
        width: 48%;
        border: 3px solid var(--clr-black);
        border-radius: 50%;
}

div.r-line .r-line__left {
margin-left: 0rem;
}

img.r-line__img {
    width: 50px;
    height: 50px;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
   
}

div.r-button{
    display: flex;
    justify-content: center;
    margin: 2rem;
}
div.r-button button {

    
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.875rem;
    letter-spacing: var(--spacing);
    

    background: var(--clr-green-light);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    color: var(--clr-dark);
   
    padding: 0.375rem 0.75rem;
    margin: 0 0.75rem;
    margin-bottom: 1rem;
    border: 2px solid var(--clr-green-dark);
    border-radius: var(--radius);

    cursor: pointer;
}
div.r-button button:hover{
    background-color: var(--clr-green-dark);
}


.r-item {
    display: grid;
    justify-items: center;
    gap: 3rem 2rem;
    margin: 0 auto;
    
    
    width: 90vh;
    max-width: 1170px;
    height: 30rem;
   
}
.r-menu-item__info {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
}
.r-item img.r-photo{
    object-fit: cover;
    float:left;
    margin-right: 1rem;
    bottom: 2rem;
    width: 16rem;
    height: 200px;
    border: 5px solid var(--clr-yellow-dark);
    border-radius: 10px;
    
}
.r-menu-item__info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted var(--clr-black);
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 0.3px;
}
header h4.price {
    color: var(--clr-primary-2);
    font-size: 1.2rem;
}

p.r-menu-item__text {
    font-size: 1.2rem;
    text-align: justify;
    padding: 0.5rem 0;
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .r-menu-item{
        grid-template-columns: 225px 1fr;
        gap:0 1.25rem;
        max-width: 40rem;
    }
    .r-photo{
        height: 175px;
    }
}
@media screen and (min-width:1200px) {
    .r-item {
        width: 95vw;
        grid-template-columns: 1fr 1fr;
    }
    .photo{
        height: 150px;
    }
    
}